:root {
  --primary: #8b95d5;
  --dark: #333;
  --light: whitesmoke;
  --darkLight: #555;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input {
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  outline: none;
  border: 2px solid whitesmoke;
  border-radius: 4px;
  height: 40px;
  padding: 8px;
}

input:focus {
  border-color: var(--primary);
}



body {
  font-family: 'Fira Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark);
  color: var(--light);
  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


button {
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  padding: 12px 24px;
  line-height: 1;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  min-height: 40px;
  background-color: #4587b9;
  color: var(--light);
}

button:hover {
  opacity: 0.9;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}


input {
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  outline: none;
  border: 2px solid var(--light);
  border-radius: 4px;
  height: 40px;
  padding: 8px;
}

input:focus {
  border-color: var(--primary);
}